# Python compiled files
__pycache__/
*.pyc

# Virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (если используешь)
.vscode/

# System files
.DS_Store

# Environment variables
.env
